{% extends 'plasma_site/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plasma_site/index.css' %}">
{% endblock %}
{% block content %}
        <section class="promo-video">
            <h1 class="video-text-placeholder">promo video</h1>
        </section>
        <section class="event">
            <img class="event__background" src="{% static 'plasma_site/img/Fala 1.svg' %}"/>
            <h2 class="event__heading --mobile">Plasma</h2>
            <h3 class="event__subheading">{{arts.intro.text|linebreaksbr}}</h3>
            <p class="event__paragraph --mobile">
                    {{arts.party_des1.text|linebreaksbr}}
            </p>
            <p class="event__paragraph event__paragraph--preline --desktop">
                    {{arts.party_des1_mob.text|linebreaksbr}}
            </p>
            <p class="event__paragraph event__paragraph--preline --mobile">
                    {{arts.party_des2.text|linebreaksbr}}
            </p>
            <p class="event__paragraph event__paragraph--preline --desktop --mb-60">
                    {{arts.party_des2_mob.text|linebreaksbr}}
            </p>
            <a href="{% url 'tickets' %}"><button class="event__button --m-0">Kup bilet</button></a>
        </section>
        <section class="about__1 about">
            <h1 class="about__title --mobile">Plasma Events</h1>
            <img class='--desktop plasma-logotype' src="{% static 'plasma_site/img/PLASMA logo biale_typo (1).png' %}" />
            <p class="about__paragraph">
                {{arts.about1.text|linebreaksbr}}
            </p>
            <img class="about__background" src="{% static 'plasma_site/img/Fala 2.svg' %}"/>
        </section>
        <section class="about__2 about">
            <p class="about__paragraph about__paragraph2">
                {{arts.about2.text|linebreaksbr}}
           </p>
            <img class="about__picture --mobile" src='{% static 'plasma_site/img/Zdjęcie-strona-glowna.png' %}'></img>
        </section>
        <section class="contact__general contact">
            <p class="about__paragraph contact__text">
                {{arts.about_contact.text|linebreaksbr}}
            </p>
            <h3 class="contacts-call-to-action">FOLLOW US</h3>
            <div class="contact-socials">
                <a href = '{{socials.tiktok.link }}'><img src="{% static 'plasma_site/img/icon_tik_tok.svg' %}"/></a>
                <a href = '{{socials.instagram.link }}'><img src="{% static 'plasma_site/img/icon_instagram.svg' %}"/></a>
                <a href = '{{socials.facebook.link }}'><img src="{% static 'plasma_site/img/icon_facebook.svg' %}"/></a>
            </div>
        </section>
        <section class="contact__form contact">
            <h1>Let's stay in touch</h1>
            <img class="contact__background" src="{% static 'plasma_site/img/Fala 3.svg' %}"/>
            <form class="contact-form" method="post">
                {% csrf_token %}
                <input class="contact-form__input contact-form__input--normal" type="text" placeholder="Imię"/>
                <input class="contact-form__input contact-form__input--normal" type="text" placeholder="Nazwisko"/>
                <input class="contact-form__input contact-form__input--normal" type="email" placeholder="E-mail"/>
                <input class="contact-form__input contact-form__input--big" type="text" placeholder="Treść Wiadomości"/>
                <input class="button contact-form__button" type="submit" value='Wyślij Wiadomość'/>
            </form>
        </section>
{% endblock %}