{% extends 'plasma_site/base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'plasma_site/reg_privacy.css' %}">
{% endblock %}
{% block content %}
<section class="reg">
  <h3>Polityka Prywatności</h3>
    <article>
        <p>{{articles.intro_priv.text}}</p>
    </article>
    <article>
        <h4>{{articles.rodo1.header}}</h4>
        <p>{{articles.rodo1.text}}</p>
    </article>
    <article>
        <h4>{{articles.rodo2.header}}</h4>
        <p>{{articles.rodo2.text}}</p>
    </article>
    <article>
        <h4>{{articles.rights.header}}</h4>
        <p>{{articles.rights.text}}</p>
    </article>
    <article>
        <h4>{{articles.links2.header}}</h4>
        <p>{{articles.links2.text}}</p>
    </article>
    <article>
        <h4>{{articles.protection.header}}</h4>
        <p>{{articles.protection.text}}</p>
    </article>
    <article>
        <h4>{{articles.reaveal.header}}</h4>
        <p>{{articles.reaveal.text}}</p>
    </article>
    <article>
        <h4>{{articles.contact_info.header}}</h4>
        <p>{{articles.contact_info.text}}</p>
    </article>
</section>

{% endblock %}