{% extends 'plasma_site/base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'plasma_site/reg_privacy.css' %}">
{% endblock %}
{% block content %}
<section>
    <h1>Regulamin</h1>
    <article class="reg">
      <h4>{{articles.reg_intro.title}}</h4>
        <p>{{articles.reg_intro.text}}</p>
    </article>
    <article class="reg">
      <h4>{{articles.license.title}}</h4>
        <p>{{articles.license.text}}</p>
    </article>
    <article class="reg">
      <h4>{{articles.refs.title}}</h4>
        <p>{{articles.refs.text}}</p>
    </article>
    <article class="reg">
      <h4>{{articles.disclaimer.title}}</h4>
        <p>{{articles.disclaimer.text}}</p>
    </article>
    <article class="reg">
      <h4>{{articles.copyright.title}}</h4>
        <p>{{articles.copyright.text}}</p>
    </article>
    <article class="reg">
      <h4>{{articles.links.title}}</h4>
        <p>{{articles.links.text}}</p>
    </article>
    <article class="reg">
      <h4>{{articles.disclaimer2.title}}</h4>
        <p>{{articles.disclaimer2.text}}</p>
    </article>
</section>

{% endblock %}